@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
.head{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
   

}
.head-text{
    font-family: 'Poppins', sans-serif;
    color: #1877F2;
    user-select: none;
    font-size: 18px;
   
}
.search-sort-div{
    align-items: center;
    width: 35%;
    position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.select-div{
    height: 34px;
    width: 45%;
}

.input-sort{
   height:32px;
    width: 45%;
    margin-right: 5px;
    
}

.main{
    width: 100%;
}

table{
    width: 100%;
    border-radius: 5px;
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

table,th,td{
    border-collapse: collapse;
   
}

tbody tr{
    height: 40px;
    font-family: poppins, sans-serif;

   border-bottom: 0.5px solid #4d4d4d30;
    border-radius: 10px;
    
    
}


th{
    padding:10px;
    font-family: poppins, sans-serif;
    font-weight: 200;
    text-align: left;
    padding-left: 10px;
    color: white;
    user-select: none;
   
}
table tbody td{
    background-color:white; 
    width: fit-content;
    text-align: left;
    height: 30px;
    font-weight: 100;
    padding-left:10px;
}


.left-th{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.right-th{
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
}
thead{
    background-color: #1877F2;
   border-radius: 5px; 
}

.view-btn{
    
    height:30px;
   
   
    vertical-align: middle;
    width: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    
   

}
.view-text{
   padding: 0;
   margin: 0;

}

.download-btn{
    border: none;
    border-radius: 5px;
  background-color: #E8F2FE;
  color: #1877F2;
  text-transform: capitalize;
  font-family: poppins, sans-serif;
  padding:2px 15px 2px 15px;
 margin-left: 10px;
}

.track-div{
    justify-content: center;
}

.btn:hover{
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}
.btn{
    color:white;
    text-transform: capitalize;
    font-family: poppins,sans-serif;
    padding: 5px;
    background-color: #1877F2;
    border-style: none;
    border-radius: 4px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 70%;
}

.underline{
    text-decoration: underline;
}

.select-div{
   -webkit-appearance: none;
   cursor: pointer;
   font-family: 'Heebo', sans-serif;
 
      
}

.search-icon{
    position: absolute;
   
    left:12px;
}

input::placeholder, .search-icon{
    color: #4D4D4D;
}
input[type="text"], .select-div{
    padding-left: 30px;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

.sort-icon{
   
    position:absolute;
    top:15px;
    right: 174px;
    
    
}

.last-row{
   
    text-align: center;
    
   
}

.btn-grp{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 35px;
    

}

.left-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #F3F7FF;
    margin-right: 1px;
    border-style: none;
    height:32px;
    padding-right: 40px;
    cursor: pointer;
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
   
}
.right-btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 1px;
    border-style: none;
    background-color: #F3F7FF;
    height: 32px;
    padding-left: 40px;
    cursor: pointer;
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

.center-btn{
    background-color: #1877F2;
    color: white;
    border-radius: 5px;
    border-style: none;
 position: absolute;
width: 40px;
height: 32px;
cursor: pointer;
}


