@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Poppins:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Poppins:wght@100;200;500&display=swap');

.page {
    background-color: #FFFFFF;

}

.blue {
    color: #389AE0;
    font-family: 'Barlow', sans-serif;
    font-size: 35px;
    padding-left: 24.5%;
    padding-top: 5%;
}

.black {
    padding-left: 24.5%;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.box1 {
    width: 100%;
    border-style: none;
    box-shadow: 0px 0px 4px 0px #00000040;
    height: 45px;
    outline: none;
    background-color: #FAFAFA;

}

.row-container {
    padding-top: 30px;
    margin-bottom: 0px;

}

.form-container {
    width: 50%;
    margin: auto;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.login {
    padding-left: 43.5%;
}

.log-btn {
    background: #48D391;
    border-style: none;
    width: 40%;
    border-radius: 5px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

::placeholder {
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #B4B4B4;
}

.forgot {
    padding-left: 80.7%;
    padding-top: 10px;
}

.last {
    display: flex;
    padding-top: 30%;
    padding-left: 40%
}

.green {
    color: #48D391;
}