@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.webpage{
    background-color: #EFEFEF;
    max-width: 100%;
   
}
.header1{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.heading{
    color:#2192FF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.main1{
    width:90%; 
    
    margin:auto;
    background-color: white;
    display: flex;
    justify-content: center;
}
.form-container{
 width:60%;
 display: flex;
 flex-direction: column;


}


.row-container{
    width:100%;
   margin-top: 10px;
   display: flex;
   flex-direction: row;
    justify-content: space-between;
    
}

label{
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:small;
    margin-top: 10px;
}

input{
    width:80%;
    outline: none;;
    height:45px;
    border-radius:5px;
    background-color: #FAFAFA;
    border-style: none;
    cursor:pointer;
    
   
   /* margin-bottom: 10px; */
}
.input-container{
    width:70%;
   display: flex;
   flex-direction: row;
   justify-content: end;
   
   
   
}



.select-div1{
    width:80%;
    height:45px;
    background-color: #FAFAFA; 
    border-radius:5px;
    border-style: none;
    cursor: pointer;
    padding-right: 20px;
}
   



::placeholder,select{
     font-family: 'Poppins', sans-serif;
     font-size: small;
     font-weight: 300;
    color: #939393;
}


    
.row{
        --bs-gutter-x: 0; 
}

input[type="text"], select{
    padding-left: 10px;
    box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.861);
   
}
option{
    color:black;
    background-color:#FAFAFA ;
}
option:hover{
    background-color: none;
}

.submit-div{
    width:100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-left: 60px;
    margin-bottom: 10px;
    
}
.btn2{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
     background-color: #48D391;
    padding:5px 40px 5px 40px;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.861);
   
}

input[type="text"]:hover, select:hover, .btn2:hover{

    box-shadow: 2px 2px 2px 1px rgba(159, 157, 157, 0.333);
}


