
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');







.head{
   
  height:70px;
 padding-left: 20px;
 padding-top: 25px;
 box-shadow: 0 0 2px 1px rgb(205, 200, 200);
}
.box-1{
     
    margin:auto;
    width:60%;
   
    margin-top: 20px;
   box-shadow: 0 0 2px 1px rgb(220, 214, 214);
   border-radius: 5px;
   padding-bottom: 10px;
}
.heading{
    padding-top: 20px;
   margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 500;
    
}
.abc{
    
    padding-left: 60px !important;
    
   
}
input{
    background-color: #FAFAFA;
    border-style: none; 
    outline: none;
    
   
}
::placeholder{
    padding-left: 10px;
}
.inp{
    width: 90%;
    height: 40px;
    box-shadow: 0 0 2px 1px rgb(220, 214, 214);

}
.margin-btm{
    margin-bottom: 10px;
}
.row{
        --bs-gutter-x: 0 !important;
}

label{
    font-family: 'Poppins', sans-serif;
    
    padding-left: 15px;
}
input[type="radio"]{
   margin-left: 12px;
  

}



select{
    width:90%;
    height:40px;
    box-shadow: 0 0 2px 1px rgb(220, 214, 214);
    background-color: #FAFAFA;
    border-style: none;
    outline: none;
    padding-left: 15px;
}
.date{
    width:90%;
    height: 40px;
    box-shadow: 0 0 2px 1px rgb(220, 214, 214);
    background-color: #FAFAFA;
    border-style: none;
    padding-left: 15px;

}
.box-2{
    width:60%;
    
    margin:auto;
    margin-top: 20px;
   box-shadow: 0 0 2px 1px rgb(220, 214, 214);
   border-radius: 5px;
   padding-bottom: 10px;
}
.box-3{
    width:60%;
    margin:auto;
    margin-top: 20px;
    box-shadow: 0 0 2px 1px rgb(220, 214, 214);
    border-radius: 5px;
    padding-bottom: 10px;

}
.box-4{
    width:60%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 5px;
    box-shadow: 0 0 2px 1px rgb(220, 214, 214);
    border-radius: 5px;
  

}
button{
    background-color: #48D391;
    color: white;
   width: 20%;
   height: 50px;
   border-style: none;
   outline: none;
   box-shadow: 0 0 2px 1px rgb(220, 214, 214);
   
   
   
}
.reg{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  
 

}
.ab{
    
    padding-left: 0;
}

.follow{
    
    display: flex;
    justify-content: space-between;
    width: 92%;
    
   
}

.follow-input{
 width: 45%;
 height: 40px;
 box-shadow: 0 0 2px 1px rgb(220, 214, 214);
 
}