@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');
.secc{
    width: 99%;
    padding-top:5px;
    margin: auto;
}
.head1{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
   

}
.head-text1{
    font-family: 'Poppins', sans-serif;
    color: #1877F2;
    user-select: none;
    padding-top: 20px;
    font-size: 18px;
   
}
.search-sort-div{
   align-items: center;
    width: 35%;
  display: flex;
  flex-direction: row;
 margin-top: 5px;
 
  justify-content: space-around;
  
}
.select-div{
    height: 32px;
    width: 200px;
    outline: none;
    font-size: medium;
    font-family: heebo,sans-serif;
}

.input-sort{
   height:32px;
  
  width: 200px;
  outline: none;
    
}

.main1{
    width: 100%;
}

table{
    width: 100%;
    border-radius: 5px;
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

table,th,td{
    border-collapse: collapse;
   
}

tbody tr{
    height: 35px;
    font-family: poppins, sans-serif;

   border-bottom: 0.5px solid #4d4d4d30;
    border-radius: 10px;
    
    
}


th{
    padding:10px;
    font-family: poppins, sans-serif;
    font-weight: 5s00;
    text-align: left;
    padding-left: 10px;
    color: white;
    user-select: none;
   
}
table tbody td{
    background-color:white; 
    width: fit-content;
    text-align: left;
    height: 30px;
    font-weight: 100;
    padding-left:10px;
}


.left-th{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.right-th{
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
}
thead{
    background-color: #1877F2;
   border-radius: 5px; 
}

.view-btn{
    
    height:30px;
   
   
    vertical-align: middle;
    width: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    
   

}
.view-text{
   padding: 0;
   margin: 0;

}

.download-btn:hover{
    box-shadow:0.5px 0.5px 2px 1px rgba(72, 72, 72, 0.237);
}
.download-btn{
    cursor: pointer;
    border: none;
    border-radius: 5px;
  background-color: #E8F2FE;
  color: #1877F2;
  text-transform: capitalize;
  font-family: poppins, sans-serif;

  padding:2px 15px 2px 15px;
 margin-left: 10px;
}

.track-div{
    justify-content: center;
}

.btn-1:hover{
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}
.btn-1{
    color:white;
    cursor: pointer;
    text-transform: capitalize;
    font-family: poppins,sans-serif;
    padding:2px 15px 2px 15px;
    background-color: #1877F2;
    border-style: none;
    border-radius: 4px;
    align-items: center;

}

.underline{
    text-decoration: underline;
    
}

.select-div{
   -webkit-appearance: none;
   cursor: pointer;
   font-family: 'Heebo', sans-serif;
 
      
}
.first-field{
    position: relative;
}
.second-field{
    position: relative;
}
.search-icon{
    position: absolute;
    left:5px
   
}
.sort-icon{
   
    position:absolute;
    
    left:5px
   
    
}

input::placeholder, .search-icon{
    color: #4D4D4D;
}
input[type="text"], .select-div{
    padding-left: 30px;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}



.last-row{
   
    text-align: center;
    
   
}

.btn-grp{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 35px;
    

}

.left-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #F3F7FF;
    margin-right: 1px;
    border-style: none;
    height:32px;
    padding-right: 40px;
    cursor: pointer;
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
   
}
.right-btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 1px;
    border-style: none;
    background-color: #F3F7FF;
    height: 32px;
    padding-left: 40px;
    cursor: pointer;
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

.center-btn{
    background-color: #1877F2;
    color: white;
    border-radius: 5px;
    border-style: none;
 position: absolute;
width: 40px;
height: 32px;
cursor: pointer;
}


.pop{
    width: 80%;
    height: 100%;
    margin: auto;
  
}


.flu{
    margin: 0;
    padding: 0 5px 0 5px;
}

.eng-flu, .tamil-flu{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.flu-icon{
    margin-top: 3px;
}

.lang{
    margin: 0;
}
.pop-head{
    font-family: heebo,sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.pop-ans{
    font-family: heebo , sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.row-sk{
    padding-bottom: 10px;
}

a{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.pop-btn-div{
    width:100%;
    padding-top: 5px;
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-btn{
    padding: 2px 30px 2px 30px ;
    border-style: none;
    text-transform: capitalize;
    background-color: #1877F2;
    font-family: poppins , sans-serif;
    color: white;
}