@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Heebo&family=Poppins:wght@600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Gugi&family=Heebo:wght@300;400&family=Poppins:wght@400;500;600&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Gugi&family=Heebo:wght@300;400&family=Poppins:wght@100;400;500;600&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


.main{
    background-color: #EFEFEF;
    height:900px;
    margin:auto;

}



.head{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

p{
    color:#2192FF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight:500;
    
}
.sub-btn{
    background-color: #48D391;
    font-weight: 700;
    padding: 10px 50px 10px 50px ;
    border-radius:3px;
    border-style: none;
    cursor: pointer;
    color: white;
    font-family: poppins;
    margin-left: 25px;
    
}
select{
    -webkit-appearance:none;
}


.white-box{
    width:80%;
    background-color:white;
    margin:auto;
}

.form-container{
    background-color:white;
    width:50%;
    height:650px;
    margin: auto;
    justify-content: center;
    font-family: Poppins;
}
.row-container{
    padding-top: 15px;
    margin-bottom: 0px;
   
}


.box1{
    width:99%;
    height: 40px;
    background-color: #FAFAFA;
    margin-bottom: 10px;
    border-style: none;
    margin-right: 5px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;

}


::placeholder,select{   
    font-family: poppins;
    color:#939393;
    padding-left: 10px;
}

option{
    color: black;
}



.submit{
     width:100%;
     display: flex;
     justify-content: center;
     padding-left: 55px;

}

.blabla{
    padding-right: 30px;
}
.pop{
   margin:auto;
   width:60%;
}
.pop-back{
    background-color: #FFFFFF;
    width:100%;
    border-radius:5px;
    box-shadow: 0.5px 0.5px 2px 1px rgba(128, 128, 128, 0.338);
    border-style:none;
    height:40px;
}
.pop-sub{
    background-color:#48D391;
    width:100%;
    border-radius:5px;
    box-shadow:25%;
    border-style:none;
    height:40px;
}
.title{
    color:#2192FF;
    padding-left:35%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight:500;
    
}

.row-n{
    padding-top:10px;
}
