
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.main{

 width:98%; 
 margin:auto;
 padding-bottom: 5px;

 

}

.row-container{
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */

}



.full-box{
  
  border-radius: 1px;
  background-color: #FFFFFF;
  padding-top: 10px;
 padding-bottom: 20px;
  box-shadow: 1px 1px 1px 1px rgb(219, 215, 215);
 border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
}
.full-grid{
  
padding-top:30px;



  
}
.first-box{
  background-color: #FFFFFF;
  border-radius: 1px;
  /* width: 24% !important; */
  box-shadow: 0px 0px 2px 2px rgb(227, 224, 224);


}

.text{
border-radius: 1px solid black;
margin-top:10px;
/* margin-left: -12px; */
background-color: #FFFFFF ;
border-style: none;
box-shadow: 2px 2px 2px 2px rgb(240, 236, 236);
width:100%;
height: 40px;
padding-top: 5px;
padding-left: 40px;
}
.text-1{
    border-radius: 1px solid black;
margin-top:10px;
/* margin-left: -12px; */
background-color: #FFFFFF ;
border-style: none;
box-shadow: 2px 2px 2px 2px rgb(240, 236, 236);
width:100%;
height: 137px;
padding-top: 5px;
padding-left: 40px;

}
.text-2{
    border-radius: 1px solid black;
margin-top:10px;
/* margin-left: -12px; */
background-color: #FFFFFF ;
border-style: none;
box-shadow: 2px 2px 2px 2px rgb(240, 236, 236);
width:100%;
height: 137px;
padding-top: 5px;
padding-left: 40px;

}
.head1{
  display:flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  
  font-size: 20px;
  font-weight: bold;

  padding-top: 10px;
  padding-bottom: 10px;


}
.l-shape{
  margin: 0;
}
.bt-1{
  width:100%;
  height:50px;
  background-color: #DDECE4;
  color:#019444;
  margin-top: 10px;
  border-style: none;
  
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  
  border-radius:5px;
  

}

.row{
  
  margin: 0!important;
}
.rupees{
 
 color: #232323;
 font-family: 'Poppins', sans-serif;
 width:60%;
 margin-left: 120px;
 
 font-weight: bold;
 font-size: 20px;


}
.strike{
  text-decoration: line-through;
}
input[type="text"]{
 
 width: 80%;
 padding: 5px 0 10px 0;
 border-radius: 5px;
 border-style: none;

 margin-right: 10px;
background-color: #FAFAFA;
box-shadow: 2px 2px 2px 2px rgb(240, 236, 236);


}
label{
 padding-left:13px;

}
::placeholder{
padding-left: 20px;
}

.head-sk{
 display: flex;
 justify-content: space-between;
 align-items: center;
 color:#262626;
 font-family: 'Poppins', sans-serif;
 font-weight: 500;


}
.head{
  width:30%;
  height:40px;
  margin: auto;
  padding-top:10px;
  padding-left: 100px;
  color:#2192FF;
  font-weight: bold;
  
}
.first-box{
  padding: 5px;
  margin-top: 15px;
}
.first-box:hover .bt-1{
 background-color: #019444;
  color: #FAFAFA;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

}
