@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.secc{
    width: 99%;
 
    margin: auto;
}

.head{
    width: 99%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-txt{
    font-family: 'poppins',sans-serif;
   font-size: medium;
    font-weight: 600;
    color: #2192FF;
}

.main1{
    width: 100%;
}

table{
    width: 100%;
    border-radius: 5px;
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

th, td {
   
    margin: 0;
    padding: 0;
}

table,th,td{
    border-collapse: collapse;
    text-align: left;
   
}

tbody tr{
    height: 37px;
    font-family: 'poppins', sans-serif;
  text-transform: capitalize;
   border-bottom: 0.5px solid #4d4d4d30;
    border-radius: 10px;
    
    
}


th{
    padding:10px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
    color: white;
    user-select: none;
   
}
table tbody td{
    background-color:white; 
    width: fit-content;
    text-align: left;
    height: 30px;
    font-weight: 100;
    padding-left:10px;
}


.left-th{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.right-th{
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
}
thead{
    background-color:#2192FF;
   border-radius: 5px; 
}

.last-row{
    padding:5px 0 7px 0;
    text-align: center;
    
   
}

.btn-grp{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 35px;
    

}

.left-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #F3F7FF;
    margin-right: 1px;
    border-style: none;
    height:32px;
    padding-right: 40px;
    cursor: pointer;
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
   
}
.right-btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 1px;
    border-style: none;
    background-color: #F3F7FF;
    height: 32px;
    padding-left: 40px;
    cursor: pointer;
    box-shadow:0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

.center-btn{
    background-color: #1877F2;
    color: white;
    border-radius: 5px;
    border-style: none;
 position: absolute;
width: 40px;
height: 32px;
cursor: pointer;
}


a{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

