@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



table,
th,
td {
  border-collapse: collapse;
  padding-left: 50px;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 50px;
  /* height:10px;*/
  color: #262626;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
th {
  color: white;
}


table {
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 1px rgb(87, 87, 87, 0.594);
}



tr{
  height:40px;
  box-shadow:0 -0.2px 0 0 grey;
}

td {
  
  padding-bottom: 10px;

}

.under {
  text-decoration: underline;
}

.head1 {
  color: #1877f2;
  border-radius: 1px solid black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  
  


}

p {
  
  
  
  font-family: "Poppins", sans-serif;
  font-size: x-large;
}

.up {
  display: flex;

  justify-content: center;

  
}



p {
  user-select: none;
}

input {

  padding-left: 30px;
}

.row-1 {
  background-color: #1877f2;
  color: #ffffff;
  border-radius: 5px;
}

button {
  width: 140px;
  height: 40px;
  background-color: #1877f2;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  border-style: none;
  cursor: pointer;
}

.btn-grp {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 35px;
  cursor: pointer;
}

.left-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f3f7ff;
  margin-left: 2px;
  width: 20px;
  height: 40px;
  padding-right: 60px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

.right-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 3px;
  margin-left: 2px;
  border-style: none;
  background-color: #f3f7ff;
  height: 40px;
  width: 20px;
  padding-left: 50px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

.center-btn {
  background-color: #1877f2;
  color: white;
  border-radius: 5px;
  border-style: none;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.svg-1 {
  position: relative;
  left: 10px;
  top: 4px;
}

.svg-2 {
  position: relative;
  right: 20px;
  top: 4px;
}

button:hover {
  box-shadow: 0.5px 0.5px 2px 1px rgba(128, 128, 128, 0.338);
}

td {
  user-select: none;
  cursor: pointer;
}

.box {
  border-radius: 1px solid black;

  width: 500px;
  height: 400px;
  padding-left: 20px;
  margin: auto;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;



}

.row-container {

  padding-top: 30px;

}


.cont-1 {
  width: 700px !important;
  height: 500px !important;
  border-radius: 1px solid black !important;
}

.head {
  display: flex;
  justify-content: center;
  color: #1877f2;
  border-radius: 1px solid black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

input {
  width: 300px;
  height: 40px;
  background-color: #FAFAFA;
  border-style: none;
  outline: none;
  padding-left: 5px;

}

.cont-2 {

  width: 700px !important;
  height: 565px !important;
  border-radius: 1px solid black !important;


}

.row-container-1 {
  padding-top: 20px;

}
.modal{
  --bs-modal-width: 600px !important;
}