@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@400;500&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@500&family=Rubik&display=swap");

/*.table-tag{
background-color: white;
border:1px solid black;
padding-top:20px;
}*/
table,
th,
td {
  border-collapse: collapse;

  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 50px;

  width: 1450px;
  /* height:10px;*/
  color: #262626;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
th {
  color: white;
}


table {
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 1px rgb(87, 87, 87, 0.594);
}
/*.left-th{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}*/

tr {
  border-bottom: 1px solid lightgrey;
  height: 40px;
}
td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.under {
  text-decoration: underline;
}
.serial,
td {
  text-align: center;
}

.head1{
  color: #1877f2;
  border-radius: 1px solid black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

}
p {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: x-large;
}

.up{
  display: flex;
  direction: row;
  justify-content: center;

  padding-bottom: 20px;
}


/*.name{
    position: relative;
    top: 90px;
}*/

/*.abc{
  position: relative;
  top: 40px;
  right: 10px;
  height: 70px;

  width: 50%;
  display: flex;
  direction: row;
  justify-content: space-around;
  padding-right: 10px;
}
/*.box-1{
    background-color: white;
    border:1px solid black;
    width:30%;
    border-radius:4px;
    height: 50px;
    
}
.name {
  background-color: white;
  border: 1px solid black;
  /* width:60%; 
  border-radius: 5px;
  position: relative;
  top: 23px;

  cursor: pointer;
  height: 37px;
  width: 220px;
  border-style: none;
  outline: none;
  box-shadow: 0.5px 0.5px 2px 1px rgb(87, 87, 87, 0.594);
}*/
p{
  user-select: none;
}
input {
  
  padding-left: 30px;
}
/*.search-icon {
  background-color: white;
  border-radius: 1px solid black;

  width: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 28px;
  bottom: 5px;
  left: 5px;
  border-style: none;
  height: 0px;
}
placeholder {
  color: #4d4d4d;

  font-family: "Rubik", sans-serif;
}*/
.row-1 {
  background-color: #1877f2;
  color: #ffffff;
  border-radius: 5px;
}
/*.box-2{
    background-color: white;
    border:1px solid black;
    width:30%;
    border-radius:5px;
    cursor: pointer;
}

.box-3{
    background-color: white;
    border:1px solid black;
    width:30%;
    border-radius:5px;
    
}
.loc {
  background-color: white;
  position: relative;
  top: 20px;
  left: 10px;
  width: 220px;
  height: 40px;
  box-shadow: 0.5px 0.5px 2px 1px rgb(87, 87, 87, 0.594);

  border-radius: 5px;
  outline: none;
  border-style: none;
  cursor: pointer;
  
  margin-top: 2px;
}
select {
  padding-left: 30px;
  
}

.loc-icon {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 35px;
  left: 20px;
  cursor: pointer;
}

.sort {
  background-color: white;
  position: relative;
  top: 20px;

  left: 10px;
  height: 40px;

  width: 200px;

  font-family: "Heebo", sans-serif;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px 1px rgb(87, 87, 87, 0.594);
  border-radius: 5px;
  outline: none;
  border-style: none;
  margin-right: 20px;
  margin-top: 2px;
}
.sort-icon {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 35px;
  right: 182px;
}*/
button {
  width: 140px;
  height: 40px;
  background-color: #1877f2;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  border-style: none;
  cursor: pointer;
}
/*.cross {
  color: #ffffff;
  position: relative;
  top: 0px;
  right: 4px;
}
.act-btn {
  background-color: #34a853;
}*/

.btn-grp {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 35px;
  cursor: pointer;
}

.left-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f3f7ff;
  margin-left: 2px;
  width: 20px;
  height: 40px;
  padding-right: 60px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}
.right-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 3px;
  margin-left: 2px;
  border-style: none;
  background-color: #f3f7ff;
  height: 40px;
  width: 20px;
  padding-left: 50px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px 1px rgba(87, 87, 87, 0.594);
}

.center-btn {
  background-color: #1877f2;
  color: white;
  border-radius: 5px;
  border-style: none;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.svg-1 {
  position: relative;
  left: 10px;
  top: 4px;
}
.svg-2 {
  position: relative;
  right: 20px;
  top: 4px;
}
/*select {
  -webkit-appearance: none;
}
.single-field {
  position: relative;
}
.second-field{
  position:  relative;
  margin-right: 10px;
}
.third-field{
  position: relative;
}*/
button:hover{
  box-shadow: 0.5px 0.5px 2px 1px rgba(128, 128, 128, 0.338);
}
td{
  user-select: none;
  cursor: pointer;
}

.box{
    border-raadius:1px solid black;
    background-color: bisque;

}
.row-conatiner{



}
.box{
    


}

.modal-body{
    
}
input{
   
}